* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Segoe UI;

}

.heading-1 {
    color: var(--heading1-color);
    font-size: var(--heading-1-font-size);

}

.header-contactus {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0.51) 100%), url(../img/contact.png), lightgray 0px -108.322px / 100% 235.889% no-repeat;
    height: 345px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


.heading-2 {
    color: var(--h1-color);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
}

.social-icon {
    color: var(--font-awesome1-color);
    cursor: pointer;
    font-size: 16px;
}

.media-icon {
    display: flex;
    gap: 31px;
    flex-direction: column;

}

.media-icon li {
    color: var(--para3-color);
    font-family: Segoe UI;
    font-size: var(--h2-font-size) !important;
    font-weight: var(--para1-font-weight);

}

.input-form {

    box-shadow: none !important;
    outline: none !important;
    color: var(--form-control-color) !important;
    font-size: var(--h3-font-size) !important;
    font-weight: var(--para1-font-weight) !important;
    border: 1px solid rgba(0, 0, 0, 0.10) !important;
}

.input-form:focus {
    border: 2px solid #000 !important;
}

.form-button {
    background-color: var(--button2-background-color) !important;
    width: 142px;
    height: 60px;
    border: none !important;

    color: var(--heading1-color) !important;
    font-size: var(--h3-font-size) !important;
}

.form-button:hover {
    cursor: pointer;
    background-color: var(--feedback-color) !important;
    transition: .2s;
}