@font-face {
    font-family: 'Segoe UI';
    /* Give a name to your font */
    src: url('../fonts/segoe-ui/Segoe\ UI.ttf') format('tff'),


}

body {
    font-family: 'Segoe UI' !important;
}

.heading-1 {
    color: var(--heading1-color);
    font-size: var(--heading-1-font-size);

}



.header-feedus {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../img/feed.png), lightgray 0px -170.162px / 100% 245.098% no-repeat;
    height: 406px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    justify-content: center;
}

.heading-feed-1 {
    color: var(--heading1-color);
    font-size: var(--heading-1-font-size);


}

.feedback-head {
    color: var(--h1-color);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
}


.form-feed {
    box-shadow: rgba(0, 0, 0, 0.10) 0px 0px 4px 0px;
    background: var(--heading1-color);
    color: var(--form-control-color) !important;
    font-size: var(--h3-font-size) !important;
    font-weight: var(--para1-font-weight) !important;
    border-radius: 0px !important;
    padding: 15px !important;
}


.feedback-head {
    position: relative;

    text-align: center;
}

.feedback-head::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--feedback-background-color);



}



.btn-send {
    background: var(--navbar-button-color) !important;
    color: var(--heading1-color) !important;
    /* font-size: var(--andriod-para-font-size); */
    font-size: var(--snd-message-font-size) !important;
    padding: 18px 63px !important;
    text-align: center;
    font-weight: var(--para1-font-weight);
    border-radius: 23px !important;
    white-space: nowrap;
    border: none !important;
    max-width: 100%;


}

.btn-send:hover {
    cursor: pointer;
    background-color: var(--feedback-color) !important;
    transition: .2s;

}

.form-feed:focus {
    border-bottom: 1px solid var(--2nd, #F86F03) !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    box-shadow: none !important;

}

.fa-star {
    color: #D9D9D9;
    font-size: 23px;

}

.fa-star:hover {
    cursor: pointer;
    color: var(--feedback-color);
    transition: .2s;
}

.feed-para2 {
    color: var(--feed-para-color);
    ;
    font-size: var(--h3-font-size);
    font-weight: var(--para1-font-weight);
}

@media (max-width:320px) {
    .heading-feed-1 {
        font-size: 28px !important;

    }

    .feedback-head {
        font-size: 20px !important;
    }

    .feedback-head::before {

        right: 23%;
    }

    .btn-send {
        display: flex !important;


        justify-content: center;

    }



}

@media (max-width:375px) {


    .btn-send {
        display: flex !important;
        justify-content: center;
        width: 100%;


    }


}

@media(max-width:767px) {
    .feed-for1 {
        flex-direction: column;
    }
}