.bgMainContainer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0.51) 100%), url('../images/bgmaincon.png'), lightgray -26.834px -252.102px / 103.706% 259.529% no-repeat;
}

body {
    font-family: 'Segoe UI',
}

.he1 {
    color: var(--heading1-color);
}

.he1 span {
    color
}