:root {
    --heading1-color: #FFF;
    --heading-1-font-size: 40px;
    --h1-color: #000;
    --feedback-color: #F86F03;
    --navbar-button-color: #525FE1;
    ;
    --andriod-para-font-size: 14px;
    --h1-font-size: 32px;
    --h2-font-size: 16px;
    --para2-font-size: 15px;
    --h3-font-size: 20px;
    --h1-font-weight: 700;
    --h2-font-weight: 600;
    --para1-font-weight: 400;
    --button1-background-color: #FFF6F4;
    --button2-background-color: #525FE1;
    --feedback-background-color: #F86F03;
    --address-font-size: 28px;

    --form-control-color: rgba(0, 0, 0, 0.30);
    --form-control-border: 1px solid rgba(0, 0, 0, 0.50);
    --font-awesome1-color: #525FE1;
    /* paragrapg color */
    --para1-color: rgba(0, 0, 0, 0.84);
    --para2-color: rgba(0, 0, 0, 0.72);
    --para3-color: rgba(0, 0, 0, 0.50);
    /* paragrap end */

    --box3-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
    --view-guide-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    /* boxshadow */
    --box-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    --box2-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25)
        /* Replace with your desired color */
}


@font-face {
    font-family: 'Segoe UI';
    /* Give a name to your font */
    src: url('../fonts/segoe-ui/Segoe\ UI.ttf') format('tff'),


}

.bgMainContainer {
    background: url('../img/bgmaincon.png');
    background-repeat: no-repeat;
    background-size: cover;

}

body {
    font-family: 'Segoe UI' !important;
}


.he1 {
    color: var(--heading1-color);
    font-family: 'Segoe UI';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.he2 {
    color: var(--h1-color);
    font-family: 'Segoe UI';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.he1 span {
    color: var(--feedback-color)
}

.para1 {
    color: var(--heading1-color);

    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feedback {
    color: var(--feedback-color);
    font-weight: bold;
    font-size: 32px;
}

.want {
    font-size: 20px;
}

.loremm {
    font-size: 12px;
}

.inputGroup {
    width: 52%;
}

.btnFilter {
    background: var(--fBtn);
    border: none !important;
}

.searchIcon {
    border: transparent !important;
    background-color: #fff !important;
}

.sInp {
    border: none;
}

.want-text h5 {
    font-size: 16px;
}



.para2 {
    color: rgba(0, 0, 0, 0.55);
    font-family: Segoe UI;
    font-size: var(--para-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.para3 {
    color: var(--para3-color);
    font-family: Segoe UI;
    font-size: var(--h2-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 5px;
}

.searchIcon:hover {
    cursor: pointer;

}

.btnP {
    background: var(--navbar-button-color) !important;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25) !important;
    color: #fff;

}

.borderCol {
    position: relative;
}

.borderCol::after {
    position: absolute;
    content: "";
    height: 100px;
    background-color: rgba(0, 0, 0, 0.33);
    top: -25px;
    width: 1px;
    right: 2px;

}

.shadowCon {
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.25);
}

.para5 {
    color: rgba(0, 0, 0, 0.69);
    text-align: center;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.paran5 {
    color: rgba(0, 0, 0, 0.69);

    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.para6 {
    color: #000;
    text-align: center;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.para7 {
    color: rgba(0, 0, 0, 0.69);

    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.para8 {
    color: #000;

    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rowBg {
    background: url('../img/Frame.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sImg {
    width: 150px;
}

.para9 {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.para11 {
    color: #000;
    text-align: center;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.para12 {
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.stars .fa-star {
    font-size: 10px;
}

.para12 {
    color: rgba(0, 0, 0, 0.49);
    text-align: center;
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cBg {
    background: #525fe1;
    width: fit-content;
    opacity: 1 !important;
}

.filterCollapse {
    border: 1px solid var(--fBtn);
    background: rgba(255, 255, 255, 0.33) !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

.btnFilter:hover {
    background: var(--fBtn);
    border: none !important;
}

.bg-privacy {

    background-image: url("/assets/img/privacy\ back.png");

    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
}

.heading-privacy {
    color: var(--h1-color);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
}

.para-privacy {
    color: var(--para2-color);
    font-size: var(--h3-font-size);
    font-weight: var(--para2-font-weight);
}

.heading-certified {
    color: var(--h1-color);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
}

.para1-certified {
    color: var(--para1-color);
    font-size: var(--h2-font-size);
    font-weight: var(--para1-font-weight);
}

.andriod-heading {
    color: var(--h1-color);
    font-size: var(--h3-font-size);
    font-weight: var(--h2-font-weight);
}

.btn-guide {
    border-radius: 6px;
    background: var(--navbar-button-color) !important;
    color: var(--heading1-color) !important;
    font-size: var(--andriod-para-font-size);
    border-radius: 6px;
    font-weight: var(--para1-font-weight);
    box-shadow: var(--view-guide-box-shadow);
}

.para-mobile {
    font-size: var(--para2-font-size);
    font-weight: var(--para1-font-weight);
    color: var(--para3-color);

}

.faqLink {
    text-decoration: none;
}

.faqLink:hover .para-mobile {
    border-bottom: 1px solid #3b3b3b;
    color: #000;
}

.cItem {
    background: #FDFDFD !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;

}

.servicesSectionRow h1,
p {
    margin-bottom: 3px;
}


@media(max-width:992px) {
    .borderCol::after {
        display: none;
    }

    .inputGroup {
        width: 100%;
    }

    .para5 {
        text-align: start;
    }
}