:root {
    --heading1-color: #FFF;
    --h1-color: #000;
    --feedback-color: #F86F03;
    --navbar-button-color: #525FE1;
    --box-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    --h1-font-size: 32px;
    --h2-font-size: 16px;
    --h3-font-size: 20px;
    --h1-font-weight: 700;
    --h2-font-weight: 600;
    --h3-font-weight: 600;
    --button1-background-color: #FFF6F4;
    --button2-background-color: #525FE1;
    --feedback-background-color: #F86F03;
    --fBtn: #FFA41B;
    --para1-color: rgba(0, 0, 0, 0.84);
    --para2-color: rgba(0, 0, 0, 0.72);
    --para3-color: rgba(0, 0, 0, 0.50);
    --para4-color:rgba(0, 0, 0, 0.67);
    --border-color:rgba(0, 0, 0, 0.52);
    --border:rgba(0, 0, 0, 0.12);
    --line-color:rgba(248, 111, 3, 0.51);
    --para-border:rgba(0, 0, 0, 0.42);
    --backgroundhover:#f1f1f1;
    --hover-color:#666;
    --input-color:rgba(0, 0, 0, 0.56);

    

    /* Replace with your desired color */
 

}

 
